<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Northeastern courts">
        <meta name="author" content="Noah Graff and George Hosea">
        <title>CS3200 Project | Courts</title>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <h1>All Courts</h1>
        <ul id="courts">
        {% for court in courts %}
            <li>
                <h2>{{ court.name }}</h2>
                <small> {% if court.occupied -%}un{%- endif %}available</small>
                <a href="/courts/{{ court.id }}">view details</a>
            </li>
        {% endfor %}
        </ul>
    </body>
</html>

