{% extends "index.html" %}
{% block title %}CS3200 Project | Court {{ name }}{% endblock %}
{% block content %}
  <h1>{{ name }}</h1>
  <h2>This court is {% if occupied -%}un{%- endif %}available</h2>
  <h2>Court Type</h2>
  <p>{{ kind }}</p>
  {% if reservations.len() > 0 %}
    <h2>Current Reservations</h2>
    <ul id='reservations'>
    {% for r in reservations %}
      <li>
        <p>{{ r.username }} reserved this court from {{ r.start }} to {{ r.end }}.</p>
        {% match r.party %}
          {% when Some with (p) %}
            <small>Party looking for members! {{ p.current }}/{{ p.capacity }}</small>
            <form action="/join-party/{{ p.id }}" method='post'>
              <input type='submit' name='join' value='Join Party'/>
            </form>
          {% when None %}
        {% endmatch %}
        <small>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <h2>No Reservations</h2>
  {% endif %}
  <h3>Reserve This Court</h3>
  <form id='reserve-form' action='/reserve-occupancy/{{ id }}' method='post'>
    <input name='start-time' type='date'>
    <input name='end-time' type='date'>
    <input name='username' type='text' placeholder='Username'>
    <input name='password' type='password' placeholder='Password'>
    <button type='submit'>Submit</button>
  </form>
{% endblock %}
