<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="404 error page">
        <meta name="author" content="Noah Graff and George Hosea">
        <title>CS3200 Project | Court {{ name }}</title>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <h1>Court {{ name }}</h1>
        <h2>This court is {% if occupied -%}un{%- endif %}available</h2>
    </body>
</html>
