{% extends "index.html" %}
{% block title %}CS3200 Project | Court {{ name }}{% endblock %}
{% block content %}
  <h1>{{ name }}</h1>
  <h2>This court is {% if occupied -%}un{%- endif %}available</h2>
  <h2>Court Type</h2>
  <p>
    {% for kind in kinds %}
      {{ kind.0 }}{% if !loop.last %}, {% endif %}
    {% endfor %}
  </p>
  {% if reservations.len() > 0 %}
    <h2>Current Reservations</h2>
    <ul id='reservations'>
    {% for r in reservations %}
      <li>
        <p>{{ r.username }} reserved this court from {{ r.start }} to {{ r.end }}.</p>
        {% match r.party %}
          {% when Some with (p) %}
            {% if p.current < p.capacity %}
              <small>Looking for people to play! {{ p.current }}/{{ p.capacity }}</small>
              {% if signed_in %}
                <form action="/join-party" method='post'>
                  <input type='hidden' name='party_id' value='{{ p.id }}'>
                  <input type='hidden' name='from_court' value='{{ id }}'>
                  <button type='submit'>Join Party</button>
                </form>
              {% endif %}
            {% endif %}
          {% when None %}
        {% endmatch %}
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <h2>No Reservations</h2>
  {% endif %}
  {% if signed_in %}
    <h3>Reserve This Court</h3>
    <form id='reserve-form' action='/reserve/{{ id }}' method='post'>
      <input name='date' type='date' requried>
      <label for='start'>Start</label>
      <input name='start_time' id='start' type='time' requried>
      <label for='end'>End</label>
      <input name='end_time' id='end' type='time' requried>
      <label for='party-capacity'>Party Capacity (optional)</label>
      <input name='party_capacity' id='party_capacity' type='number' min='1' step='1'>
      <button type='submit'>Submit</button>
    </form>
  {% endif %}
{% endblock %}
